.DS_Store
node_modules
desktop.ini
/dist
/testData
/src/pipecraft-core/service_scripts/NextFlowConfig.json
/image_development/*.zip


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron